body {
font-family: Arial, sans-serif;
text-align: center;
}
.container {
width: 80%;
margin: auto;
}
img {
width: 300px;
border-radius: 10px;
}
/* Estilos para la lista de razas */
ul {
list-style-type: none;
padding: 0;
}
li {
margin: 20px 0;
font-size: 18px;
}